In [52]:
# Import Data Manipulation libraries
import pandas as pd
import numpy as np

In [53]:
#import data visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [54]:
#import warnings
import warnings
warnings.filterwarnings('ignore')

In [55]:
#import logging
import logging
logging.basicConfig(level=logging.INFO,
                    filename='model.log',
                    filemode='w',
                    format='%(asctime)s - %(levelname)s - %(message)s')

In [56]:
# Load the dataset

url = "https://raw.githubusercontent.com/Frisk516/EnE_TitanicModelBuilding/refs/heads/main/research/titanic_train.csv"

df=pd.read_csv(url)

df.sample(frac=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.1250,NaN,S
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1,0,PC 17758,108.9000,C65,C
...,...,...,...,...,...,...,...,...,...,...,...,...
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
723,724,0,2,"Hodges, Mr. Henry Price",male,50.0,0,0,250643,13.0000,NaN,S
710,711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.0,0,0,PC 17482,49.5042,C90,C
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.4042,NaN,S

In [57]:
#checking missing values

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [58]:
# Dropping column cabin due to high percentage of missing values

df.drop(['Cabin'], axis=1, inplace=True)

In [59]:
#Splitting data into categorical and numerical

Numerical_Data=df.select_dtypes(exclude='object')

Categorical_Data=df.select_dtypes(include='object')

In [60]:
Categorical_Data

,Name,Sex,Ticket,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,S
4,"Allen, Mr. William Henry",male,373450,S
...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,S
887,"Graham, Miss. Margaret Edith",female,112053,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,S
889,"Behr, Mr. Karl Howell",male,111369,C
890,"Dooley, Mr. Patrick",male,370376,Q

In [61]:
Numerical_Data

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [62]:
#Performing EDA

from collections import OrderedDict
stats=[]

for i in Numerical_Data:
    numerical_stats=OrderedDict({
    'Feature':i,
    'Missing Values': df[i].isnull().sum(),
    'Unique Values': df[i].nunique(),
    'Mean': df[i].mean(),
    'Median': df[i].median(),
    'Min': df[i].min(),
    'Max': df[i].max(),
    'Range': df[i].max() - df[i].min(),
    'Standard Deviation': df[i].std(),
    'Variance': df[i].var(),
    'Skewness': df[i].skew(),
    'Kurtosis': df[i].kurt(),
    'Count': df[i].count(),
    'Percentile 25': df[i].quantile(0.25),
    'Percentile 50': df[i].quantile(0.50),
    'Percentile 75': df[i].quantile(0.75),
    'IQR': df[i].quantile(0.75) - df[i].quantile(0.25)
        
})
    stats.append(numerical_stats)

df_stats =pd.DataFrame(stats)

df_stats

,Feature,Missing Values,Unique Values,Mean,Median,Min,Max,Range,Standard Deviation,Variance,Skewness,Kurtosis,Count,Percentile 25,Percentile 50,Percentile 75,IQR
0,PassengerId,0,891,446.000000,446.0000,1.00,891.0000,890.0000,257.353842,66231.000000,0.000000,-1.200000,891,223.5000,446.0000,668.5,445.0000
1,Survived,0,2,0.383838,0.0000,0.00,1.0000,1.0000,0.486592,0.236772,0.478523,-1.775005,891,0.0000,0.0000,1.0,1.0000
2,Pclass,0,3,2.308642,3.0000,1.00,3.0000,2.0000,0.836071,0.699015,-0.630548,-1.280015,891,2.0000,3.0000,3.0,1.0000
3,Age,177,88,29.699118,28.0000,0.42,80.0000,79.5800,14.526497,211.019125,0.389108,0.178274,714,20.1250,28.0000,38.0,17.8750
4,SibSp,0,7,0.523008,0.0000,0.00,8.0000,8.0000,1.102743,1.216043,3.695352,17.880420,891,0.0000,0.0000,1.0,1.0000
5,Parch,0,7,0.381594,0.0000,0.00,6.0000,6.0000,0.806057,0.649728,2.749117,9.778125,891,0.0000,0.0000,0.0,0.0000
6,Fare,0,248,32.204208,14.4542,0.00,512.3292,512.3292,49.693429,2469.436846,4.787317,33.398141,891,7.9104,14.4542,31.0,23.0896

In [63]:
# Checking Categorical_Data

for i in Categorical_Data:
    print(Categorical_Data[i].value_counts())
    print('*'*40)

Name
Braund, Mr. Owen Harris                     1
Boulos, Mr. Hanna                           1
Frolicher-Stehli, Mr. Maxmillian            1
Gilinski, Mr. Eliezer                       1
Murdlin, Mr. Joseph                         1
                                           ..
Kelly, Miss. Anna Katherine "Annie Kate"    1
McCoy, Mr. Bernard                          1
Johnson, Mr. William Cahoone Jr             1
Keane, Miss. Nora A                         1
Dooley, Mr. Patrick                         1
Name: count, Length: 891, dtype: int64
****************************************
Sex
male      577
female    314
Name: count, dtype: int64
****************************************
Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64
****************************************
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
****************************************

In [64]:
# checking target column

df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [65]:
#encoding sex column

df['Sex']=df['Sex'].replace({'female':0,'male':1})

In [66]:
Numerical_Data

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [67]:
#imputing missing values with mean

for i in Numerical_Data:
    df[i].fillna(df[i].mean(), inplace=True)

In [68]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [69]:
df.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [70]:
#Imputing missing values with mode

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [71]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [72]:
# encoding ticket column with label encoding

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df['Ticket']=le.fit_transform(df['Ticket'])

In [73]:
#encoding name column with label encoding

df['Name']=le.fit_transform(df['Name'])

In [74]:
# encoding embarked column with label encoding

df['Embarked']=le.fit_transform(df['Embarked'])

In [75]:
df.drop(columns=['PassengerId'], inplace=True)
df.drop(columns=['Ticket'], inplace=True)
df.drop(columns=['Name'], inplace=True)

In [76]:






X=df.drop(columns='Survived')

X             

y=df['Survived']

y             


# Step 2: Split The Dataset Into Train and Test


from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=7)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)
X_train

array([[1.        , 0.        , 0.26324738, ..., 0.        , 0.01533038,
        1.        ],
       [0.5       , 1.        , 0.26324738, ..., 0.        , 0.02537431,
        1.        ],
       [0.5       , 1.        , 0.73080193, ..., 0.        , 0.02537431,
        1.        ],
       ...,
       [0.        , 0.        , 0.41909889, ..., 0.        , 0.20772777,
        0.        ],
       [1.        , 1.        , 0.4148359 , ..., 0.        , 0.01512699,
        0.5       ],
       [1.        , 1.        , 0.24907906, ..., 0.16666667, 0.01533038,
        1.        ]])

In [77]:
# using SMOTE to Balance Data

from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_train, y_train = sm.fit_resample(X_train, y_train)

In [78]:
# checking the values in sex column after SMOTE

pd.Series(y_train).value_counts()

Survived
1    393
0    393
Name: count, dtype: int64

In [79]:
#Using Random Forest Classifier for prediction

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

RF=RandomForestClassifier()

RF.fit(X_train,y_train)

y_pred_RF=RF.predict(X_test)

accuracy_score_RF = accuracy_score(y_test,y_pred_RF)
print(f'The Accuracy Score is ',accuracy_score_RF)

The Accuracy Score is  0.7350746268656716

In [80]:
#using Logistic regression for prediction
from sklearn.linear_model import LogisticRegression



LR=LogisticRegression()



LR.fit(X_train,y_train)



y_pred=LR.predict(X_test)


from sklearn.metrics import accuracy_score,classification_report

accuracy_score_LR=accuracy_score(y_test,y_pred)
accuracy_score_LR

0.7425373134328358

In [81]:
#using decision tree classifier for prediction

from sklearn.tree import DecisionTreeClassifier

DT=DecisionTreeClassifier()

DT.fit(X_train,y_train)

y_pred_DT=DT.predict(X_test)

accuracy_score_DT=accuracy_score(y_test,y_pred_DT)

accuracy_score_DT

0.75

In [82]:
# hyperparameter tuning for random forest classifier

from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300, 500],
   'max_depth': [5, 10, 15, 20],
   'min_samples_leaf': [1, 2, 5, 10],
   'min_samples_split': [2, 5, 10, 15]
}

grid_search = GridSearchCV(estimator = RandomForestClassifier(), param_grid = param_grid, cv = 5, verbose=2, n_jobs=-1)

grid_search.fit(X_train, y_train)

grid_search.best_params_

best_grid = grid_search.best_estimator_

y_pred_grid = best_grid.predict(X_test)

accuracy_score_grid = accuracy_score(y_test, y_pred_grid)

accuracy_score_grid

Fitting 5 folds for each of 256 candidates, totalling 1280 fits

KeyboardInterrupt: